<div role="radiogroup" [attr.aria-labelledby]="id" class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    role="radio"
    [attr.aria-checked]="value === options.YES"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    type="button"
    (click)="activate(options.YES)"
    >
    Yes
  </button>
  <button
    role="radio"
    [attr.aria-checked]="value === options.NO"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    type="button"
    (click)="activate(options.NO)"
    >
    No
  </button>
</div>
