<div role="radiogroup" [attr.aria-labelledby]="id" class="button-group" appKeyboardManager>
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    appKeyboardManagerItem
    (focused)="activate(options.YES)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.tabindex]="value === options.YES || value === null ? 0 : -1"
    [attr.aria-checked]="value === options.YES"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    type="button"
    (click)="activate(options.YES)"
    >
    Yes
  </button>
  <button
    appKeyboardManagerItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.tabindex]="value === options.NO ? 0 : -1"
    [attr.aria-checked]="value === options.NO"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    type="button"
    (click)="activate(options.NO)"
    >
    No
  </button>
</div>
